{% extends "base.html" %}

{% block body %}

{% if form.errors %}
<p>用户密码不正确</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>您没有查看此页面的权限</p>
    {% else %}
    <p>请登录</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
<tr>
    <td>
      <label for="id_username">帐号:</label>
    </td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>
      <label for="id_password">密码:</label>
    </td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="登录" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">忘记密码</a></p>
<p><a href="{% url 'user_register' %}">没有账户，注册一个</a></p>

{% endblock %}
