{% extends "base.html" %}
{% block title %}修改密码{% endblock %}
{% block body %}
<div class="row">
  <div class="col-md-12">
    {% if form.errors %}
      <div class="alert alert-danger">{{ form.errors }}</div>
    {% endif %}
  </div>
</div>

<div class="container">
  <form class="form-signin" role="form" method="post">
    {% csrf_token %}
    <h2 class="form-signin-heading">修改密码</h2>
    <input name="old_password" type="password" class="form-control" placeholder="旧密码" required autofocus>
    <input name="new_password1" type="password" class="form-control" placeholder="新密码" required>
    <input name="new_password2" type="password" class="form-control" placeholder="确认密码" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">确认修改</button>
  <form>
</div>


{% endblock %}
